@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper .swiper-pagination {
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mySwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.mySwiper .swiper-pagination-bullet-active {
    background: #ef4444;
}