@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper .swiper-pagination {
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mySwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.mySwiper .swiper-pagination-bullet-active {
    background: #ef4444;
}

.productImage_main_slider .swiper-wrapper {
    padding: 0px;
}

.productImage_main_slider .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.productImage_slider_thumbs {
    padding-block: 10px;
}

.productImage_slider_thumbs .swiper-wrapper {
    display: flex;
    justify-content: start;
}

.productImage_slider_thumbs .swiper-slide {
    cursor: pointer;
    border: 1px solid rgb(241, 241, 241);
    padding: 7px;
    max-width: max-content;
}

.productImage_slider_thumbs .ytp-cued-thumbnail-overlay .ytp-large-play-button {
    width: 30px !important;
    height: 20px !important;
    display: none;
    visibility: none;
    opacity: 0;
}

.productImage_slider_thumbs .swiper-slide-thumb-active {
    border: 1px solid rgb(218, 218, 218);
}

.productImage_main_slider .swiper-button-prev,
.productImage_main_slider .swiper-button-next {
    background-color: rgb(212, 212, 212);
    padding: 20px;
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

.productImage_main_slider .swiper-button-prev:after,
.productImage_main_slider .swiper-button-next:after {
    font-size: 22px;
    color: #000;
}